## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [18]:
# Your code here - remember to use markdown cells for comments as well!
%ls

 Volume in drive C is OS
 Volume Serial Number is 9A45-0C78

 Directory of C:\Users\Jake\Documents\CapstoneTransplant\Capstone-Restaurant

04/11/2023  06:53 AM    <DIR>          .
04/11/2023  04:07 AM    <DIR>          ..
04/11/2023  04:17 AM             1,942 .gitignore
04/11/2023  04:19 AM    <DIR>          .ipynb_checkpoints
04/11/2023  06:48 AM    <DIR>          Data
04/11/2023  06:53 AM            36,783 First.ipynb
04/11/2023  04:07 AM                23 README.md
               3 File(s)         38,748 bytes
               4 Dir(s)  85,666,619,392 bytes free

In [19]:
import sqlite3
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
import json
import argparse
import collections
import csv
plt.style.use('seaborn-notebook')
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import euclidean

In [20]:
df = pd.read_csv('Data/yelp_business.csv')
df = pd.DataFrame(df)

In [21]:
df = pd.DataFrame(df)

In [22]:
df2 = pd.read_csv('Data/yelp_business_attributes.csv')

In [30]:
df2
merged_df = pd.merge(df, df2, on='business_id')
merged_df

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,"""Messina""",NaN,"""Richterstr. 11""",Stuttgart,BW,70567,48.727200,9.147950,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152036,kLFm_kehXNZkUc1oa2-Eaw,"""Nuno's Churrasqueira""",Brockton Village,"""1560 Dundas St W""",Toronto,ON,M6K 1T5,43.649789,-79.433928,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152037,gRGalHVu6BcaUDIAGVW_xQ,"""Village Auto Body""",NaN,"""3957 Brecksville Rd""",Richfield,OH,44286,41.243385,-81.636212,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152038,XXvZBIHoJBU5d6-a-oyMWQ,"""AAM""",NaN,"""1600 W Broadway Rd, Ste 200""",Tempe,AZ,85282,33.407914,-111.965098,1.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152039,lNpPGgM96nPIYM1shxciHg,"""Bronze Beauty Spray Tanning""",NaN,"""300 Camp Horne Rd, Ste 250""",Pittsburgh,PA,15202,40.517724,-80.091466,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152040,viKaP26BcHU6cLx8sf4gKg,"""Phoenix Pharmacy""",NaN,"""1701 East Thomas Rd, Ste 105""",Phoenix,AZ,85016,33.479861,-112.044689,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [24]:
city_counts = merged_df['city'].value_counts()
state_counts = merged_df['state'].value_counts()
city_counts

Las Vegas                 26775
Phoenix                   17213
Toronto                   17206
Charlotte                  8553
Scottsdale                 8228
                          ...
St-Lazare-de-Vaudreuil        1
oakville                      1
Scottsdale, AZ                1
Crescent                      1
Chomedey, Laval               1
Name: city, Length: 1093, dtype: int64

In [25]:
state_counts

AZ     52214
NV     33086
ON     30208
NC     12956
OH     12609
       ...
NLK        1
WA         1
ZET        1
AB         1
PKN        1
Name: state, Length: 67, dtype: int64

In [26]:
allowed_values = ['NC', 'OH']

In [27]:
df_filtered = merged_df[merged_df['state'].isin(allowed_values)]

In [31]:
merged_df

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,"""Messina""",NaN,"""Richterstr. 11""",Stuttgart,BW,70567,48.727200,9.147950,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152036,kLFm_kehXNZkUc1oa2-Eaw,"""Nuno's Churrasqueira""",Brockton Village,"""1560 Dundas St W""",Toronto,ON,M6K 1T5,43.649789,-79.433928,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152037,gRGalHVu6BcaUDIAGVW_xQ,"""Village Auto Body""",NaN,"""3957 Brecksville Rd""",Richfield,OH,44286,41.243385,-81.636212,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152038,XXvZBIHoJBU5d6-a-oyMWQ,"""AAM""",NaN,"""1600 W Broadway Rd, Ste 200""",Tempe,AZ,85282,33.407914,-111.965098,1.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152039,lNpPGgM96nPIYM1shxciHg,"""Bronze Beauty Spray Tanning""",NaN,"""300 Camp Horne Rd, Ste 250""",Pittsburgh,PA,15202,40.517724,-80.091466,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152040,viKaP26BcHU6cLx8sf4gKg,"""Phoenix Pharmacy""",NaN,"""1701 East Thomas Rd, Ste 105""",Phoenix,AZ,85016,33.479861,-112.044689,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [165]:
columns_to_drop = ['neighborhood', 'is_open', 'address', 'business_id', 'city', 'postal_code', 'latitude', 'longitude']

In [166]:
df_filtered = df_filtered.drop(columns_to_drop, axis=1)

In [167]:
df_filtered

,name,state,stars,review_count,categories
4,"""Brick House Tavern + Tap""",OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...
14,"""Showmars Government Center""",NC,3.5,7,Restaurants;American (Traditional)
28,"""Panera Bread""",OH,2.0,4,Soup;Salad;Sandwiches;Restaurants
35,"""Brewster's Pub""",OH,4.0,4,Nightlife;Pubs;Bars
38,"""By Design""",NC,2.5,3,Home & Garden;Furniture Stores;Shopping
...,...,...,...,...,...
174509,"""Asian Health Center""",OH,5.0,3,Acupuncture;Health & Medical
174516,"""Carlone's Candy and Ice Cream""",OH,4.0,3,Cooking Schools;Specialty Schools;Food;Educati...
174532,"""Cole's Public House""",OH,4.5,21,Bars;Gastropubs;Nightlife;Restaurants;Pubs;San...
174553,"""CVS""",NC,2.0,5,Drugstores;Shopping
174563,"""Village Auto Body""",OH,5.0,3,Body Shops;Automotive

In [168]:
df_filtered.describe

<bound method NDFrame.describe of                                    name state  stars  review_count  \
4            "Brick House Tavern + Tap"    OH    3.5           116
14         "Showmars Government Center"    NC    3.5             7
28                       "Panera Bread"    OH    2.0             4
35                     "Brewster's Pub"    OH    4.0             4
38                          "By Design"    NC    2.5             3
...                                 ...   ...    ...           ...
174509            "Asian Health Center"    OH    5.0             3
174516  "Carlone's Candy and Ice Cream"    OH    4.0             3
174532            "Cole's Public House"    OH    4.5            21
174553                            "CVS"    NC    2.0             5
174563              "Village Auto Body"    OH    5.0             3

                                               categories
4       American (New);Nightlife;Bars;Sandwiches;Ameri...
14                     Restaurants;American (Traditional)
28                      Soup;Salad;Sandwiches;Restaurants
35                                    Nightlife;Pubs;Bars
38                Home & Garden;Furniture Stores;Shopping
...                                                   ...
174509                       Acupuncture;Health & Medical
174516  Cooking Schools;Specialty Schools;Food;Educati...
174532  Bars;Gastropubs;Nightlife;Restaurants;Pubs;San...
174553                                Drugstores;Shopping
174563                              Body Shops;Automotive

[25565 rows x 5 columns]>

In [178]:
Dolce = df_filtered[df_filtered['name'] == '"Dolce Vita Wine Bar"']
print(Dolce)

                       name state  stars  review_count  \
1959  "Dolce Vita Wine Bar"    NC    4.0            53

                                             categories
1959  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...

TypeError: unsupported operand type(s) for -: 'str' and 'str'