## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [246]:
# Your code here - remember to use markdown cells for comments as well!
%ls

 Volume in drive C is OS
 Volume Serial Number is 9A45-0C78

 Directory of C:\Users\Jake\Documents\CapstoneTransplant\Capstone-Restaurant

04/11/2023  08:48 AM    <DIR>          .
04/11/2023  04:07 AM    <DIR>          ..
04/11/2023  04:17 AM             1,942 .gitignore
04/11/2023  07:01 AM    <DIR>          .ipynb_checkpoints
04/11/2023  06:48 AM    <DIR>          Data
04/11/2023  06:57 AM            60,277 First.ipynb
04/11/2023  04:07 AM                23 README.md
04/11/2023  08:48 AM           159,754 Second.ipynb
               4 File(s)        221,996 bytes
               4 Dir(s)  85,304,360,960 bytes free

In [247]:
import sqlite3
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
import json
import argparse
import collections
import scipy
import csv
plt.style.use('seaborn-notebook')
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import euclidean
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords, wordnet
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.tokenize import RegexpTokenizer

In [248]:
df = pd.read_csv('Data/yelp_business.csv')
df = pd.DataFrame(df)

In [249]:
df = pd.DataFrame(df)

In [250]:
df2 = pd.read_csv('Data/yelp_business_attributes.csv')

In [251]:
df2
merged_df = pd.merge(df, df2, on='business_id')
merged_df

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,"""Messina""",NaN,"""Richterstr. 11""",Stuttgart,BW,70567,48.727200,9.147950,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152036,kLFm_kehXNZkUc1oa2-Eaw,"""Nuno's Churrasqueira""",Brockton Village,"""1560 Dundas St W""",Toronto,ON,M6K 1T5,43.649789,-79.433928,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152037,gRGalHVu6BcaUDIAGVW_xQ,"""Village Auto Body""",NaN,"""3957 Brecksville Rd""",Richfield,OH,44286,41.243385,-81.636212,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152038,XXvZBIHoJBU5d6-a-oyMWQ,"""AAM""",NaN,"""1600 W Broadway Rd, Ste 200""",Tempe,AZ,85282,33.407914,-111.965098,1.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152039,lNpPGgM96nPIYM1shxciHg,"""Bronze Beauty Spray Tanning""",NaN,"""300 Camp Horne Rd, Ste 250""",Pittsburgh,PA,15202,40.517724,-80.091466,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152040,viKaP26BcHU6cLx8sf4gKg,"""Phoenix Pharmacy""",NaN,"""1701 East Thomas Rd, Ste 105""",Phoenix,AZ,85016,33.479861,-112.044689,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [252]:
allowed_values = ['NC', 'OH']

In [253]:
df_filtered = merged_df[merged_df['state'].isin(allowed_values)]

In [254]:
df_filtered

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
3,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
13,fNMVV_ZX7CJSDWQGdOM8Nw,"""Showmars Government Center""",Uptown,"""600 E 4th St""",Charlotte,NC,28202,35.221647,-80.839345,3.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
26,Dj0S-Oe4ytRJzMGUPgYUkw,"""Panera Bread""",NaN,"""38295 Chestnut Ridge Rd""",Elyria,OH,44035,41.343078,-82.067140,2.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
33,8y56fOiKhtCnqaiYB2S2Qg,"""Brewster's Pub""",NaN,"""96 S Main St""",Munroe Falls,OH,44308,41.136622,-81.439259,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
37,tRVx2c89coruPRwYhGTcTw,"""Yuzu""",NaN,"""13603 Madison Ave""",Lakewood,OH,44107,41.476846,-81.786971,3.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151991,w4bEHdlfpeqbnlvQ1ZGD1w,"""Asian Health Center""",NaN,"""27059 Chardon Rd""",Cleveland,OH,44143,41.581224,-81.489978,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
151997,CslboLl_NXJDf5Hj3YsDyg,"""Carlone's Candy and Ice Cream""",NaN,"""1515 Madison Ave""",Painesville,OH,44077,41.726780,-81.197096,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152012,Ls_nR1MEcsOw5KuTlh0dfQ,"""Cole's Public House""",NaN,"""209 S Main St""",Amherst,OH,44001,41.398166,-82.226472,4.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152030,JnhuORtEQOW8XkVXB3l2tQ,"""CVS""",NaN,"""4300 Nc Hwy 49""",Harrisburg,NC,28075,35.322669,-80.649006,2.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152037,gRGalHVu6BcaUDIAGVW_xQ,"""Village Auto Body""",NaN,"""3957 Brecksville Rd""",Richfield,OH,44286,41.243385,-81.636212,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [255]:
df_filtered['DietaryRestrictions_gluten-free'].value_counts()

Na       22374
False       11
Name: DietaryRestrictions_gluten-free, dtype: int64

In [256]:
columns_to_drop = ['neighborhood', 'is_open', 'address', 'business_id', 'city', 'postal_code', 'latitude', 'longitude']

In [257]:
df_filtered = df_filtered.drop(columns_to_drop, axis=1)

In [258]:
df_filtered

,name,state,stars,review_count,categories,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
3,"""Brick House Tavern + Tap""",OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
13,"""Showmars Government Center""",NC,3.5,7,Restaurants;American (Traditional),Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
26,"""Panera Bread""",OH,2.0,4,Soup;Salad;Sandwiches;Restaurants,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
33,"""Brewster's Pub""",OH,4.0,4,Nightlife;Pubs;Bars,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
37,"""Yuzu""",OH,3.5,78,Nightlife;Izakaya;Comfort Food;Cocktail Bars;A...,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151991,"""Asian Health Center""",OH,5.0,3,Acupuncture;Health & Medical,Na,Na,True,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
151997,"""Carlone's Candy and Ice Cream""",OH,4.0,3,Cooking Schools;Specialty Schools;Food;Educati...,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152012,"""Cole's Public House""",OH,4.5,21,Bars;Gastropubs;Nightlife;Restaurants;Pubs;San...,Na,Na,Na,Na,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152030,"""CVS""",NC,2.0,5,Drugstores;Shopping,Na,Na,Na,Na,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152037,"""Village Auto Body""",OH,5.0,3,Body Shops;Automotive,Na,Na,Na,True,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [259]:
df_filtered.describe

<bound method NDFrame.describe of                                    name state  stars  review_count  \
3            "Brick House Tavern + Tap"    OH    3.5           116
13         "Showmars Government Center"    NC    3.5             7
26                       "Panera Bread"    OH    2.0             4
33                     "Brewster's Pub"    OH    4.0             4
37                               "Yuzu"    OH    3.5            78
...                                 ...   ...    ...           ...
151991            "Asian Health Center"    OH    5.0             3
151997  "Carlone's Candy and Ice Cream"    OH    4.0             3
152012            "Cole's Public House"    OH    4.5            21
152030                            "CVS"    NC    2.0             5
152037              "Village Auto Body"    OH    5.0             3

                                               categories AcceptsInsurance  \
3       American (New);Nightlife;Bars;Sandwiches;Ameri...               Na
13                     Restaurants;American (Traditional)               Na
26                      Soup;Salad;Sandwiches;Restaurants               Na
33                                    Nightlife;Pubs;Bars               Na
37      Nightlife;Izakaya;Comfort Food;Cocktail Bars;A...               Na
...                                                   ...              ...
151991                       Acupuncture;Health & Medical               Na
151997  Cooking Schools;Specialty Schools;Food;Educati...               Na
152012  Bars;Gastropubs;Nightlife;Restaurants;Pubs;San...               Na
152030                                Drugstores;Shopping               Na
152037                              Body Shops;Automotive               Na

       ByAppointmentOnly BusinessAcceptsCreditCards BusinessParking_garage  \
3                     Na                         Na                     Na
13                    Na                         Na                     Na
26                    Na                         Na                     Na
33                    Na                         Na                     Na
37                    Na                         Na                     Na
...                  ...                        ...                    ...
151991                Na                       True                     Na
151997                Na                         Na                     Na
152012                Na                         Na                     Na
152030                Na                         Na                     Na
152037                Na                         Na                   True

       BusinessParking_street  ... Corkage DietaryRestrictions_dairy-free  \
3                          Na  ...      Na                             Na
13                         Na  ...      Na                             Na
26                         Na  ...      Na                             Na
33                         Na  ...      Na                             Na
37                         Na  ...      Na                             Na
...                       ...  ...     ...                            ...
151991                     Na  ...      Na                             Na
151997                     Na  ...      Na                             Na
152012                  False  ...      Na                             Na
152030                  False  ...      Na                             Na
152037                     Na  ...      Na                             Na

       DietaryRestrictions_gluten-free DietaryRestrictions_vegan  \
3                                   Na                        Na
13                                  Na                        Na
26                                  Na                        Na
33                                  Na                        Na
37                                  Na                        Na
...                                ...                       ...
151991                              Na                        Na
151997                              Na                        Na
152012                              Na                        Na
152030                              Na                        Na
152037                              Na                        Na

       DietaryRestrictions_kosher DietaryRestrictions_halal  \
3                              Na                        Na
13                             Na                        Na
26                             Na                        Na
33                             Na                        Na
37                             Na                        Na
...                           ...                       ...
151991                         Na                        Na
151997                         Na                        Na
152012                         Na                        Na
152030                         Na                        Na
152037                         Na                        Na

       DietaryRestrictions_soy-free DietaryRestrictions_vegetarian  \
3                                Na                             Na
13                               Na                             Na
26                               Na                             Na
33                               Na                             Na
37                               Na                             Na
...                             ...                            ...
151991                           Na                             Na
151997                           Na                             Na
152012                           Na                             Na
152030                           Na                             Na
152037                           Na                             Na

       AgesAllowed RestaurantsCounterService
3               Na                        Na
13              Na                        Na
26              Na                        Na
33              Na                        Na
37              Na                        Na
...            ...                       ...
151991          Na                        Na
151997          Na                        Na
152012          Na                        Na
152030          Na                        Na
152037          Na                        Na

[22385 rows x 86 columns]>

In [260]:
#df_filtered.loc[df_filtered['AcceptsInsurance'] == 'Na', 'AcceptsInsurance'] = '2'

In [261]:
#df_filtered.loc[df_filtered['ByAppointmentOnly'] == 'Na', 'ByAppointmentOnly'] = '2'

In [262]:
#df_filtered.loc[df_filtered['ByAppointmentOnly'] == 'Na', 'BusinessAcceptsCreditCards'] = '2'

In [263]:
#df_filtered.loc[df_filtered['ByAppointmentOnly'] == 'Na', 'ByAppointmentOnly'] = '2'

In [264]:
#df_filtered.loc[df_filtered['ByAppointmentOnly'] == 'Na', 'ByAppointmentOnly'] = '2'

In [265]:
df_filtered = df_filtered.replace(to_replace='Na', value=2)
df_filtered = df_filtered.replace(to_replace='True', value=1)
df_filtered = df_filtered.replace(to_replace='False', value=0)

In [266]:
df_filtered

,name,state,stars,review_count,categories,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
3,"""Brick House Tavern + Tap""",OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
13,"""Showmars Government Center""",NC,3.5,7,Restaurants;American (Traditional),2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
26,"""Panera Bread""",OH,2.0,4,Soup;Salad;Sandwiches;Restaurants,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
33,"""Brewster's Pub""",OH,4.0,4,Nightlife;Pubs;Bars,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
37,"""Yuzu""",OH,3.5,78,Nightlife;Izakaya;Comfort Food;Cocktail Bars;A...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151991,"""Asian Health Center""",OH,5.0,3,Acupuncture;Health & Medical,2,2,1,2,2,...,2,2,2,2,2,2,2,2,2,2
151997,"""Carlone's Candy and Ice Cream""",OH,4.0,3,Cooking Schools;Specialty Schools;Food;Educati...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
152012,"""Cole's Public House""",OH,4.5,21,Bars;Gastropubs;Nightlife;Restaurants;Pubs;San...,2,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
152030,"""CVS""",NC,2.0,5,Drugstores;Shopping,2,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
152037,"""Village Auto Body""",OH,5.0,3,Body Shops;Automotive,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2

In [267]:
df_filtered['categories'] = df_filtered['categories'].astype(str)

In [268]:
df_filtered.describe()

,stars,review_count,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
count,22385.000000,22385.000000,22385.0,22385.000000,22385.000000,22385.000000,22385.000000,22385.000000,22385.000000,22385.000000,...,22385.0,22385.0,22385.000000,22385.000000,22385.000000,22385.000000,22385.000000,22385.000000,22385.000000,22385.0
mean,3.584320,23.733393,2.0,1.999464,1.789770,1.865535,1.455037,1.484387,1.446951,1.567031,...,2.0,2.0,1.999017,1.999375,1.999196,1.999017,1.999017,1.999017,1.999241,2.0
std,0.965233,52.271751,0.0,0.023148,0.564174,0.362492,0.885234,0.852476,0.893879,0.746437,...,0.0,0.0,0.044325,0.029885,0.037801,0.044325,0.044325,0.044325,0.035986,0.0
min,1.000000,3.000000,2.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.0,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
25%,3.000000,4.000000,2.0,2.000000,2.000000,2.000000,0.000000,1.000000,0.000000,1.000000,...,2.0,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0
50%,3.500000,8.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0
75%,4.500000,21.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0
max,5.000000,1586.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.0,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0

In [269]:
def lower_case(text):
    text = text.lower()
    return text
def remove_punctuation(text):
    tokenizer = RegexpTokenizer(r'\w+\'?\w+')
    text = tokenizer.tokenize(text)
    text = ' '.join(text)
    return text

def lemmatize(text):
    lemmatizer = WordNetLemmatizer()
    text = text.split()
    text = [lemmatizer.lemmatize(word) for word in text]
    text = ' '.join(text)
    return text

def clean_text(text):
    text = lower_case(text)
    text = remove_punctuation(text)
    text = lemmatize(text)
    return text

In [270]:
print('AFTER \n' + clean_text(df_filtered['categories'][26]))

AFTER
soup salad sandwich restaurant

In [271]:
df_clean = df_filtered.copy()
df_clean['categories'] = df_clean['categories'].apply(clean_text)
df_clean.to_csv('data/cleaned.csv')

In [272]:
df_clean

,name,state,stars,review_count,categories,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
3,"""Brick House Tavern + Tap""",OH,3.5,116,american new nightlife bar sandwich american t...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
13,"""Showmars Government Center""",NC,3.5,7,restaurant american traditional,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
26,"""Panera Bread""",OH,2.0,4,soup salad sandwich restaurant,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
33,"""Brewster's Pub""",OH,4.0,4,nightlife pub bar,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
37,"""Yuzu""",OH,3.5,78,nightlife izakaya comfort food cocktail bar as...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151991,"""Asian Health Center""",OH,5.0,3,acupuncture health medical,2,2,1,2,2,...,2,2,2,2,2,2,2,2,2,2
151997,"""Carlone's Candy and Ice Cream""",OH,4.0,3,cooking school specialty school food education...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
152012,"""Cole's Public House""",OH,4.5,21,bar gastropubs nightlife restaurant pub sandwich,2,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
152030,"""CVS""",NC,2.0,5,drugstore shopping,2,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
152037,"""Village Auto Body""",OH,5.0,3,body shop automotive,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2

In [273]:
#df1 = df_filtered[df_filtered['state'] == 'NC']
#df2 = df_filtered[df_filtered['state'] != 'NC']

In [274]:
Dolce = df_filtered[df_filtered['name'] == '"Dolce Vita Wine Bar"']
print(Dolce)

                       name state  stars  review_count  \
1711  "Dolce Vita Wine Bar"    NC    4.0            53

                                             categories  AcceptsInsurance  \
1711  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2

      ByAppointmentOnly  BusinessAcceptsCreditCards  BusinessParking_garage  \
1711                  2                           2                       2

      BusinessParking_street  ...  Corkage  DietaryRestrictions_dairy-free  \
1711                       2  ...        2                               2

      DietaryRestrictions_gluten-free  DietaryRestrictions_vegan  \
1711                                2                          2

      DietaryRestrictions_kosher  DietaryRestrictions_halal  \
1711                           2                          2

      DietaryRestrictions_soy-free  DietaryRestrictions_vegetarian  \
1711                             2                               2

      AgesAllowed  RestaurantsCounterService
1711            2                          2

[1 rows x 86 columns]