## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!
%ls

 Volume in drive C is OS
 Volume Serial Number is 9A45-0C78

 Directory of c:\Users\Jake\Documents\CapstoneTransplant\Capstone-Restaurant

04/17/2023  03:47 PM    <DIR>          .
04/11/2023  04:07 AM    <DIR>          ..
04/11/2023  04:17 AM             1,942 .gitignore
04/11/2023  07:01 AM    <DIR>          .ipynb_checkpoints
04/15/2023  08:07 PM        50,380,975 cleaned2.csv
04/15/2023  11:52 PM    <DIR>          Data
04/17/2023  03:19 PM            65,897 EDA.ipynb
04/11/2023  06:57 AM            60,277 First.ipynb
04/11/2023  04:07 AM                23 README.md
04/17/2023  03:47 PM        14,506,988 result.csv
04/15/2023  05:39 PM           160,783 Second.ipynb
04/15/2023  05:39 PM           134,906 Third - Copy.ipynb
04/15/2023  05:39 PM            53,907 Third.ipynb
               9 File(s)     65,365,698 bytes
               4 Dir(s)  54,082,928,640 bytes free

In [2]:
import sqlite3
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
import json
import argparse
import collections
import scipy
import csv
plt.style.use('seaborn-notebook')
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import euclidean
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords, wordnet
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.tokenize import RegexpTokenizer

In [3]:
df = pd.read_csv('Data/yelp_business.csv')
df = pd.DataFrame(df)

In [4]:
df = pd.DataFrame(df)

In [5]:
df2 = pd.read_csv('Data/yelp_business_attributes.csv')

In [6]:
df3 = pd.read_csv('Data/yelp_review.csv')

KeyboardInterrupt:

In [13]:
df3

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0
...,...,...,...,...,...,...,...,...,...
5261663,PoGSiNz1X5SUu0qEt-qM5w,mPjPyipaD0C_myqWqDipZg,Ngk84Ax1tXgpoJFEGxot3w,1,2011-11-21,"Bought groupon $39 for 4 months from groupon, ...",36,3,3
5261664,-CJNPrDWgIkorx4iEZJXIg,mPjPyipaD0C_myqWqDipZg,pOEL97ld-FJMKO8Ki8JmYg,3,2016-04-30,"Spring rolls was pretty good, cod was a bit ra...",0,0,0
5261665,W9eVvOcpBvG6lpJPoJOxuA,mPjPyipaD0C_myqWqDipZg,5ubokMNw8qfbX2WtxgJG1Q,4,2011-10-23,"Had a 8 dish set meal, was enough for 10 peopl...",3,0,1
5261666,hqQ1UTFKMN2P1ezUow48OQ,mPjPyipaD0C_myqWqDipZg,EO3i5kTUG7_S2OIQ23sdSA,3,2011-11-07,"A small, cozy family run Authentic korean rest...",2,0,0
5261667,ldsIs3sGXPJ7WM7VyAm4lQ,mPjPyipaD0C_myqWqDipZg,HloEEXm_QzEpycuwA_RtQA,3,2011-11-15,Really nice atmosphere and settings and very c...,0,1,1

In [7]:
merged_df = pd.merge(df, df2, on='business_id')
merged_df

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.383147,-111.964725,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,"""Messina""",NaN,"""Richterstr. 11""",Stuttgart,BW,70567,48.727200,9.147950,4.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152036,kLFm_kehXNZkUc1oa2-Eaw,"""Nuno's Churrasqueira""",Brockton Village,"""1560 Dundas St W""",Toronto,ON,M6K 1T5,43.649789,-79.433928,3.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152037,gRGalHVu6BcaUDIAGVW_xQ,"""Village Auto Body""",NaN,"""3957 Brecksville Rd""",Richfield,OH,44286,41.243385,-81.636212,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152038,XXvZBIHoJBU5d6-a-oyMWQ,"""AAM""",NaN,"""1600 W Broadway Rd, Ste 200""",Tempe,AZ,85282,33.407914,-111.965098,1.5,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152039,lNpPGgM96nPIYM1shxciHg,"""Bronze Beauty Spray Tanning""",NaN,"""300 Camp Horne Rd, Ste 250""",Pittsburgh,PA,15202,40.517724,-80.091466,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152040,viKaP26BcHU6cLx8sf4gKg,"""Phoenix Pharmacy""",NaN,"""1701 East Thomas Rd, Ste 105""",Phoenix,AZ,85016,33.479861,-112.044689,5.0,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [9]:
#merged_df1 = pd.merge(merged_df, df3, on='name')
merged_df.to_csv('merged.csv', index=False)

In [16]:
allowed_values = ['NC', 'OH']

In [18]:
df_filtered = merged_df[merged_df['state'].isin(allowed_values)]

In [ ]:
df_filtered

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars_x,...,AgesAllowed,RestaurantsCounterService,review_id,user_id,stars_y,date,text,useful,funny,cool
43,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,rnvu74aNIPn93Z9Ue11Epw,bgtr7jOlALe8ay4g7pnf4A,4,2016-05-05,I've always enjoyed my time at brick house foo...,0,0,0
44,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,OE5dH664oSSK_-TvIl263w,ndZOHkG_FWdL4TRd9xRfNQ,2,2017-03-19,1st time here. Came w my Unc bc Louies was clo...,0,0,0
45,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,SWeHmo8uHHWbbv94VdAMeQ,UqtE83J-6NMQNNJzpnWwEQ,1,2015-08-31,Worse service ever andI use to be a server so ...,0,0,0
46,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,fCCL0pAgYGccUs8shHHIUA,PixAmdRa58XZ3hr8YLS36g,5,2015-10-09,I am updating my review to 5-stars because I t...,2,0,2
47,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,...,Na,Na,-VOh0NNnIo1r24hjwSZL4Q,Hly0NEWXMxbuXa2zm_NJOQ,4,2015-01-15,I enjoyed this place. I went the night the Bu...,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5063233,JnhuORtEQOW8XkVXB3l2tQ,"""CVS""",NaN,"""4300 Nc Hwy 49""",Harrisburg,NC,28075,35.322669,-80.649006,2.0,...,Na,Na,vpmGQ-pcbnt_c5Cl0duTaw,dHRchS7reL10P-EpYXYUiA,2,2016-09-14,The drive-thru is a joke!! There are supposed ...,0,0,0
5063234,JnhuORtEQOW8XkVXB3l2tQ,"""CVS""",NaN,"""4300 Nc Hwy 49""",Harrisburg,NC,28075,35.322669,-80.649006,2.0,...,Na,Na,fwwbO5-8WEyPn9YN1zcY-g,D3FudhJiFROpnAv7vTwIQw,1,2017-02-04,By far the worst pharmacy I've ever been to. U...,0,0,0
5063733,gRGalHVu6BcaUDIAGVW_xQ,"""Village Auto Body""",NaN,"""3957 Brecksville Rd""",Richfield,OH,44286,41.243385,-81.636212,5.0,...,Na,Na,oZLDptSyVlyymji7LnaMEg,Wv_7WTwibTLNuoV9UvfJDA,5,2017-04-13,"ok rick the owner .is most awesome,,i had hail...",1,0,0
5063734,gRGalHVu6BcaUDIAGVW_xQ,"""Village Auto Body""",NaN,"""3957 Brecksville Rd""",Richfield,OH,44286,41.243385,-81.636212,5.0,...,Na,Na,P-SOwHKu97p-CBYWq01v3A,s11BcGNlIY-F8a2bMe3r6g,5,2016-04-23,Top notch!!! I am out of town stranded with c...,0,1,0
5063735,gRGalHVu6BcaUDIAGVW_xQ,"""Village Auto Body""",NaN,"""3957 Brecksville Rd""",Richfield,OH,44286,41.243385,-81.636212,5.0,...,Na,Na,RKNuj_uBi0KdAssJBFP2uA,m5iFZbW5hSNPNplx-vGkyA,5,2017-10-09,I had Village Auto Body get rid of the rust on...,0,0,0

In [19]:
df_filtered['DietaryRestrictions_gluten-free'].value_counts()

Na       22374
False       11
Name: DietaryRestrictions_gluten-free, dtype: int64

In [22]:
columns_to_drop = ['neighborhood', 'is_open', 'address', 'business_id', 'city', 'postal_code', 'latitude', 'longitude', ]

In [23]:
df_filtered = df_filtered.drop(columns_to_drop, axis=1)

In [24]:
df_filtered

,name,state,stars,review_count,categories,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
3,"""Brick House Tavern + Tap""",OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
13,"""Showmars Government Center""",NC,3.5,7,Restaurants;American (Traditional),Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
26,"""Panera Bread""",OH,2.0,4,Soup;Salad;Sandwiches;Restaurants,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
33,"""Brewster's Pub""",OH,4.0,4,Nightlife;Pubs;Bars,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
37,"""Yuzu""",OH,3.5,78,Nightlife;Izakaya;Comfort Food;Cocktail Bars;A...,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151991,"""Asian Health Center""",OH,5.0,3,Acupuncture;Health & Medical,Na,Na,True,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
151997,"""Carlone's Candy and Ice Cream""",OH,4.0,3,Cooking Schools;Specialty Schools;Food;Educati...,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152012,"""Cole's Public House""",OH,4.5,21,Bars;Gastropubs;Nightlife;Restaurants;Pubs;San...,Na,Na,Na,Na,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152030,"""CVS""",NC,2.0,5,Drugstores;Shopping,Na,Na,Na,Na,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
152037,"""Village Auto Body""",OH,5.0,3,Body Shops;Automotive,Na,Na,Na,True,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [ ]:
df_filtered.describe

<bound method NDFrame.describe of                                    name state  stars  review_count  \
3            "Brick House Tavern + Tap"    OH    3.5           116
13         "Showmars Government Center"    NC    3.5             7
26                       "Panera Bread"    OH    2.0             4
33                     "Brewster's Pub"    OH    4.0             4
37                               "Yuzu"    OH    3.5            78
...                                 ...   ...    ...           ...
151991            "Asian Health Center"    OH    5.0             3
151997  "Carlone's Candy and Ice Cream"    OH    4.0             3
152012            "Cole's Public House"    OH    4.5            21
152030                            "CVS"    NC    2.0             5
152037              "Village Auto Body"    OH    5.0             3

                                               categories AcceptsInsurance  \
3       American (New);Nightlife;Bars;Sandwiches;Ameri...               Na
13                     Restaurants;American (Traditional)               Na
26                      Soup;Salad;Sandwiches;Restaurants               Na
33                                    Nightlife;Pubs;Bars               Na
37      Nightlife;Izakaya;Comfort Food;Cocktail Bars;A...               Na
...                                                   ...              ...
151991                       Acupuncture;Health & Medical               Na
151997  Cooking Schools;Specialty Schools;Food;Educati...               Na
152012  Bars;Gastropubs;Nightlife;Restaurants;Pubs;San...               Na
152030                                Drugstores;Shopping               Na
152037                              Body Shops;Automotive               Na

       ByAppointmentOnly BusinessAcceptsCreditCards BusinessParking_garage  \
3                     Na                         Na                     Na
13                    Na                         Na                     Na
26                    Na                         Na                     Na
33                    Na                         Na                     Na
37                    Na                         Na                     Na
...                  ...                        ...                    ...
151991                Na                       True                     Na
151997                Na                         Na                     Na
152012                Na                         Na                     Na
152030                Na                         Na                     Na
152037                Na                         Na                   True

       BusinessParking_street  ... Corkage DietaryRestrictions_dairy-free  \
3                          Na  ...      Na                             Na
13                         Na  ...      Na                             Na
26                         Na  ...      Na                             Na
33                         Na  ...      Na                             Na
37                         Na  ...      Na                             Na
...                       ...  ...     ...                            ...
151991                     Na  ...      Na                             Na
151997                     Na  ...      Na                             Na
152012                  False  ...      Na                             Na
152030                  False  ...      Na                             Na
152037                     Na  ...      Na                             Na

       DietaryRestrictions_gluten-free DietaryRestrictions_vegan  \
3                                   Na                        Na
13                                  Na                        Na
26                                  Na                        Na
33                                  Na                        Na
37                                  Na                        Na
...                                ...                       ...
151991                              Na                        Na
151997                              Na                        Na
152012                              Na                        Na
152030                              Na                        Na
152037                              Na                        Na

       DietaryRestrictions_kosher DietaryRestrictions_halal  \
3                              Na                        Na
13                             Na                        Na
26                             Na                        Na
33                             Na                        Na
37                             Na                        Na
...                           ...                       ...
151991                         Na                        Na
151997                         Na                        Na
152012                         Na                        Na
152030                         Na                        Na
152037                         Na                        Na

       DietaryRestrictions_soy-free DietaryRestrictions_vegetarian  \
3                                Na                             Na
13                               Na                             Na
26                               Na                             Na
33                               Na                             Na
37                               Na                             Na
...                             ...                            ...
151991                           Na                             Na
151997                           Na                             Na
152012                           Na                             Na
152030                           Na                             Na
152037                           Na                             Na

       AgesAllowed RestaurantsCounterService
3               Na                        Na
13              Na                        Na
26              Na                        Na
33              Na                        Na
37              Na                        Na
...            ...                       ...
151991          Na                        Na
151997          Na                        Na
152012          Na                        Na
152030          Na                        Na
152037          Na                        Na

[22385 rows x 86 columns]>

In [ ]:
#df_filtered.loc[df_filtered['AcceptsInsurance'] == 'Na', 'AcceptsInsurance'] = '2'

In [ ]:
#df_filtered.loc[df_filtered['ByAppointmentOnly'] == 'Na', 'ByAppointmentOnly'] = '2'

In [ ]:
#df_filtered.loc[df_filtered['ByAppointmentOnly'] == 'Na', 'BusinessAcceptsCreditCards'] = '2'

In [ ]:
#df_filtered.loc[df_filtered['ByAppointmentOnly'] == 'Na', 'ByAppointmentOnly'] = '2'

In [ ]:
#df_filtered.loc[df_filtered['ByAppointmentOnly'] == 'Na', 'ByAppointmentOnly'] = '2'

In [25]:
df_filtered = df_filtered.replace(to_replace='Na', value=2)
df_filtered = df_filtered.replace(to_replace='True', value=1)
df_filtered = df_filtered.replace(to_replace='False', value=0)

In [26]:
df_filtered

,name,state,stars,review_count,categories,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
3,"""Brick House Tavern + Tap""",OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
13,"""Showmars Government Center""",NC,3.5,7,Restaurants;American (Traditional),2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
26,"""Panera Bread""",OH,2.0,4,Soup;Salad;Sandwiches;Restaurants,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
33,"""Brewster's Pub""",OH,4.0,4,Nightlife;Pubs;Bars,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
37,"""Yuzu""",OH,3.5,78,Nightlife;Izakaya;Comfort Food;Cocktail Bars;A...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151991,"""Asian Health Center""",OH,5.0,3,Acupuncture;Health & Medical,2,2,1,2,2,...,2,2,2,2,2,2,2,2,2,2
151997,"""Carlone's Candy and Ice Cream""",OH,4.0,3,Cooking Schools;Specialty Schools;Food;Educati...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
152012,"""Cole's Public House""",OH,4.5,21,Bars;Gastropubs;Nightlife;Restaurants;Pubs;San...,2,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
152030,"""CVS""",NC,2.0,5,Drugstores;Shopping,2,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
152037,"""Village Auto Body""",OH,5.0,3,Body Shops;Automotive,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2

In [ ]:
df_filtered['categories'] = df_filtered['categories'].astype(str)

In [ ]:
df_filtered.describe()

,stars_x,review_count,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,...,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService,stars_y,useful,funny,cool
count,531581.000000,531581.000000,531581.0,531581.000000,531581.000000,531581.000000,531581.000000,531581.000000,531581.000000,531581.000000,...,531581.000000,531581.000000,531581.000000,531581.000000,531581.000000,531581.0,531581.000000,531581.000000,531581.000000,531581.000000
mean,3.698947,138.823611,2.0,1.999910,1.908418,1.956966,1.040995,1.133609,1.012354,1.296613,...,1.997946,1.997705,1.997705,1.997705,1.998045,2.0,3.697943,1.190727,0.406781,0.435104
std,0.717240,205.307313,0.0,0.009502,0.394873,0.211130,0.981081,0.923978,0.996338,0.787783,...,0.062157,0.067711,0.067711,0.067711,0.059706,0.0,1.403613,2.544803,1.395392,1.363325
min,1.000000,3.000000,2.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.0,1.000000,0.000000,0.000000,0.000000
25%,3.500000,23.000000,2.0,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,3.000000,0.000000,0.000000,0.000000
50%,4.000000,66.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,4.000000,0.000000,0.000000,0.000000
75%,4.000000,167.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,5.000000,1.000000,0.000000,0.000000
max,5.000000,1586.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,5.000000,525.000000,216.000000,220.000000

In [27]:
def lower_case(text):
    text = text.lower()
    return text
def remove_punctuation(text):
    tokenizer = RegexpTokenizer(r'\w+\'?\w+')
    text = tokenizer.tokenize(text)
    text = ' '.join(text)
    return text

def lemmatize(text):
    lemmatizer = WordNetLemmatizer()
    text = text.split()
    text = [lemmatizer.lemmatize(word) for word in text]
    text = ' '.join(text)
    return text

def clean_text(text):
    text = lower_case(text)
    text = remove_punctuation(text)
    text = lemmatize(text)
    return text

SyntaxError: invalid syntax (2547660473.py, line 1)

In [ ]:
df_clean = df_filtered.copy()
df_clean['categories'] = df_clean['categories'].apply(clean_text)
df_clean.to_csv('data/cleaned.csv')

In [ ]:
df_clean

,name,state,stars,review_count,categories,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
3,"""Brick House Tavern + Tap""",OH,3.5,116,american new nightlife bar sandwich american t...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
13,"""Showmars Government Center""",NC,3.5,7,restaurant american traditional,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
26,"""Panera Bread""",OH,2.0,4,soup salad sandwich restaurant,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
33,"""Brewster's Pub""",OH,4.0,4,nightlife pub bar,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
37,"""Yuzu""",OH,3.5,78,nightlife izakaya comfort food cocktail bar as...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151991,"""Asian Health Center""",OH,5.0,3,acupuncture health medical,2,2,1,2,2,...,2,2,2,2,2,2,2,2,2,2
151997,"""Carlone's Candy and Ice Cream""",OH,4.0,3,cooking school specialty school food education...,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
152012,"""Cole's Public House""",OH,4.5,21,bar gastropubs nightlife restaurant pub sandwich,2,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
152030,"""CVS""",NC,2.0,5,drugstore shopping,2,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
152037,"""Village Auto Body""",OH,5.0,3,body shop automotive,2,2,2,1,2,...,2,2,2,2,2,2,2,2,2,2

In [30]:
df1 = df_filtered[df_filtered['state'] == 'NC']
df2 = df_filtered[df_filtered['state'] != 'NC']

In [31]:
df1.iloc[19]

name                                                            "Now It's A Party!"
state                                                                            NC
stars                                                                           5.0
review_count                                                                      5
categories                        Party Equipment Rentals;Event Planning & Services
                                                        ...
DietaryRestrictions_halal                                                         2
DietaryRestrictions_soy-free                                                      2
DietaryRestrictions_vegetarian                                                    2
AgesAllowed                                                                       2
RestaurantsCounterService                                                         2
Name: 426, Length: 86, dtype: object

In [ ]:
Dolce = df_filtered[df_filtered['name'] == '"Dolce Vita Wine Bar"']
print(Dolce)

                        name state  stars_x  review_count  \
53662  "Dolce Vita Wine Bar"    NC      4.0            53
53663  "Dolce Vita Wine Bar"    NC      4.0            53
53664  "Dolce Vita Wine Bar"    NC      4.0            53
53665  "Dolce Vita Wine Bar"    NC      4.0            53
53666  "Dolce Vita Wine Bar"    NC      4.0            53
53667  "Dolce Vita Wine Bar"    NC      4.0            53
53668  "Dolce Vita Wine Bar"    NC      4.0            53
53669  "Dolce Vita Wine Bar"    NC      4.0            53
53670  "Dolce Vita Wine Bar"    NC      4.0            53
53671  "Dolce Vita Wine Bar"    NC      4.0            53
53672  "Dolce Vita Wine Bar"    NC      4.0            53
53673  "Dolce Vita Wine Bar"    NC      4.0            53
53674  "Dolce Vita Wine Bar"    NC      4.0            53
53675  "Dolce Vita Wine Bar"    NC      4.0            53
53676  "Dolce Vita Wine Bar"    NC      4.0            53
53677  "Dolce Vita Wine Bar"    NC      4.0            53
53678  "Dolce Vita Wine Bar"    NC      4.0            53
53679  "Dolce Vita Wine Bar"    NC      4.0            53
53680  "Dolce Vita Wine Bar"    NC      4.0            53
53681  "Dolce Vita Wine Bar"    NC      4.0            53
53682  "Dolce Vita Wine Bar"    NC      4.0            53
53683  "Dolce Vita Wine Bar"    NC      4.0            53
53684  "Dolce Vita Wine Bar"    NC      4.0            53
53685  "Dolce Vita Wine Bar"    NC      4.0            53
53686  "Dolce Vita Wine Bar"    NC      4.0            53
53687  "Dolce Vita Wine Bar"    NC      4.0            53
53688  "Dolce Vita Wine Bar"    NC      4.0            53
53689  "Dolce Vita Wine Bar"    NC      4.0            53
53690  "Dolce Vita Wine Bar"    NC      4.0            53
53691  "Dolce Vita Wine Bar"    NC      4.0            53
53692  "Dolce Vita Wine Bar"    NC      4.0            53
53693  "Dolce Vita Wine Bar"    NC      4.0            53
53694  "Dolce Vita Wine Bar"    NC      4.0            53
53695  "Dolce Vita Wine Bar"    NC      4.0            53
53696  "Dolce Vita Wine Bar"    NC      4.0            53
53697  "Dolce Vita Wine Bar"    NC      4.0            53
53698  "Dolce Vita Wine Bar"    NC      4.0            53
53699  "Dolce Vita Wine Bar"    NC      4.0            53
53700  "Dolce Vita Wine Bar"    NC      4.0            53
53701  "Dolce Vita Wine Bar"    NC      4.0            53
53702  "Dolce Vita Wine Bar"    NC      4.0            53
53703  "Dolce Vita Wine Bar"    NC      4.0            53
53704  "Dolce Vita Wine Bar"    NC      4.0            53
53705  "Dolce Vita Wine Bar"    NC      4.0            53
53706  "Dolce Vita Wine Bar"    NC      4.0            53
53707  "Dolce Vita Wine Bar"    NC      4.0            53
53708  "Dolce Vita Wine Bar"    NC      4.0            53
53709  "Dolce Vita Wine Bar"    NC      4.0            53
53710  "Dolce Vita Wine Bar"    NC      4.0            53
53711  "Dolce Vita Wine Bar"    NC      4.0            53
53712  "Dolce Vita Wine Bar"    NC      4.0            53
53713  "Dolce Vita Wine Bar"    NC      4.0            53
53714  "Dolce Vita Wine Bar"    NC      4.0            53

                                              categories  AcceptsInsurance  \
53662  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53663  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53664  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53665  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53666  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53667  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53668  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53669  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53670  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53671  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53672  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53673  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53674  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53675  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53676  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53677  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53678  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53679  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53680  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53681  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53682  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53683  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53684  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53685  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53686  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53687  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53688  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53689  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53690  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53691  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53692  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53693  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53694  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53695  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53696  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53697  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53698  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53699  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53700  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53701  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53702  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53703  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53704  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53705  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53706  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53707  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53708  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53709  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53710  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53711  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53712  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53713  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2
53714  Wine Bars;Cocktail Bars;Beer;Wine & Spirits;Pi...                 2

       ByAppointmentOnly  BusinessAcceptsCreditCards  BusinessParking_garage  \
53662                  2                           2                       2
53663                  2                           2                       2
53664                  2                           2                       2
53665                  2                           2                       2
53666                  2                           2                       2
53667                  2                           2                       2
53668                  2                           2                       2
53669                  2                           2                       2
53670                  2                           2                       2
53671                  2                           2                       2
53672                  2                           2                       2
53673                  2                           2                       2
53674                  2                           2                       2
53675                  2                           2                       2
53676                  2                           2                       2
53677                  2                           2                       2
53678                  2                           2                       2
53679                  2                           2                       2
53680                  2                           2                       2
53681                  2                           2                       2
53682                  2                           2                       2
53683                  2                           2                       2
53684                  2                           2                       2
53685                  2                           2                       2
53686                  2                           2                       2
53687                  2                           2                       2
53688                  2                           2                       2
53689                  2                           2                       2
53690                  2                           2                       2
53691                  2                           2                       2
53692                  2                           2                       2
53693                  2                           2                       2
53694                  2                           2                       2
53695                  2                           2                       2
53696                  2                           2                       2
53697                  2                           2                       2
53698                  2                           2                       2
53699                  2                           2                       2
53700                  2                           2                       2
53701                  2                           2                       2
53702                  2                           2                       2
53703                  2                           2                       2
53704                  2                           2                       2
53705                  2                           2                       2
53706                  2                           2                       2
53707                  2                           2                       2
53708                  2                           2                       2
53709                  2                           2                       2
53710                  2                           2                       2
53711                  2                           2                       2
53712                  2                           2                       2
53713                  2                           2                       2
53714                  2                           2                       2

       BusinessParking_street  ...  AgesAllowed  RestaurantsCounterService  \
53662                       2  ...            2                          2
53663                       2  ...            2                          2
53664                       2  ...            2                          2
53665                       2  ...            2                          2
53666                       2  ...            2                          2
53667                       2  ...            2                          2
53668                       2  ...            2                          2
53669                       2  ...            2                          2
53670                       2  ...            2                          2
53671                       2  ...            2                          2
53672                       2  ...            2                          2
53673                       2  ...            2                          2
53674                       2  ...            2                          2
53675                       2  ...            2                          2
53676                       2  ...            2                          2
53677                       2  ...            2                          2
53678                       2  ...            2                          2
53679                       2  ...            2                          2
53680                       2  ...            2                          2
53681                       2  ...            2                          2
53682                       2  ...            2                          2
53683                       2  ...            2                          2
53684                       2  ...            2                          2
53685                       2  ...            2                          2
53686                       2  ...            2                          2
53687                       2  ...            2                          2
53688                       2  ...            2                          2
53689                       2  ...            2                          2
53690                       2  ...            2                          2
53691                       2  ...            2                          2
53692                       2  ...            2                          2
53693                       2  ...            2                          2
53694                       2  ...            2                          2
53695                       2  ...            2                          2
53696                       2  ...            2                          2
53697                       2  ...            2                          2
53698                       2  ...            2                          2
53699                       2  ...            2                          2
53700                       2  ...            2                          2
53701                       2  ...            2                          2
53702                       2  ...            2                          2
53703                       2  ...            2                          2
53704                       2  ...            2                          2
53705                       2  ...            2                          2
53706                       2  ...            2                          2
53707                       2  ...            2                          2
53708                       2  ...            2                          2
53709                       2  ...            2                          2
53710                       2  ...            2                          2
53711                       2  ...            2                          2
53712                       2  ...            2                          2
53713                       2  ...            2                          2
53714                       2  ...            2                          2

                    review_id                 user_id  stars_y        date  \
53662  R7upqCXBojA6KThnccTJdA  XO0UfcfbYOrcjtggHeZN2w        5  2011-06-14
53663  jdikFWAUwtPp0YftX15Pmw  wnFWoQ63F9-ohUQ-C0AeIw        4  2014-07-14
53664  rvSmjN850OimGtWm6Ed4eQ  eSdTBrg0_9g8QFNL1fdiXA        5  2015-12-05
53665  5GZIwkRHXYrq4gt8jGS4xQ  A-U-K9z9oraMH7eBZW1dOA        4  2014-02-09
53666  WtQj2C-wT832s_RWiqcHig  -0HHK0ux-abVe1mPQjyh7g        1  2015-01-17
53667  4j6wu-wTDIItnGIpDkpAVg  suVYxo-uPNTlpkJ7w7J-wg        3  2010-08-28
53668  9pdfMFxHV16UIp-Qda-u_Q  QUxGzFeaadXPjmM96md1ug        4  2012-01-27
53669  ZAf3P2W3oXf4b1p8TlYlfA  m67l1molr2bDueyLZAIo0g        5  2008-02-26
53670  cBvClq8Rt-Hw906VXPzMng  Mi0hlLbolLSfN4rgSjQS2g        5  2011-06-10
53671  0n1Ez2uTGBGQQIuZ6yhnQA  ae-0xKMu8-DS42rK_DAUWA        5  2015-02-28
53672  iGX4QjS7Yl_vRYTH_v-rmw  ciXjBfJrAEteIKpzZg4I9g        3  2013-02-04
53673  3hkPsW2UWsINaB6Jz4qLSA  hp1vqaxow0CrucyTAs-CpQ        1  2009-12-10
53674  B0c3fp_7ihmMBzZvDmFlsg  WPNPOHwyyzDH2QBI9ketcg        3  2012-11-02
53675  4iu3A9jeWfMoBLqYVkUUUQ  XatJ1Tkqw5dw5n7WeWr_FA        4  2012-11-14
53676  3m9xZ83pa7gxkxFuvdInww  DXh8yxwZCg5Ckj5kmDvKXw        4  2013-02-20
53677  oOJ3i8Tr5CFUKDbYzA2zUQ  AwrTMmmK0xu-bFK4Bkd9Xw        4  2010-10-20
53678  Xun1P80GBc-F152lL2HrQg  yNsOssYIr3EzAoJAPBerqg        4  2012-11-28
53679  ApgnNSyQKqV5E7uSLDtEjw  DCiGavlfmEb5rpDYvRecSQ        5  2011-09-23
53680  SX5UBtjMpsoNAYnXtIUhVA  H8O67dKe62p2CNsrxN_u6g        2  2012-09-18
53681  kABT-vVtnxTjr0127emQ2w  IBO0RWBMGbGziHUVq-j0IQ        5  2010-04-12
53682  4XotGKjgqH17sNEgMRLDOg  _5FF5NN5kHZmGTNuJwpnhg        4  2008-09-07
53683  MrJGnWbtFCzUZgdB7bDliA  QvAhRCe5_8ZY46m8N6Sz1g        5  2014-12-19
53684  l_k-orHJPJGPMrjW6VxFAA  ezW02HA5b_tIBZxN76wXOA        4  2012-01-14
53685  xEJrg_LCM4wNp7UGWE5Vfw  UdKvY0ux2D3EQuyf_1Qz5g        4  2009-07-26
53686  FGcv0P9lXUXf6Ny-CN-6WQ  c8cur4lMkQsHoUEqm-qwxg        5  2010-08-23
53687  kY3KKRzXuR5mTJAiZDnkrg  dk9GzM6Nni61oBdkETDFkA        4  2010-12-18
53688  emMFTKuY-6AvBw1cQ8FtJA  l-tDF960t9BakjyH34XfTA        5  2010-11-19
53689  G_arXu4YtCa-iOuyXg84Ag  8HLIPPPCuc_-Lt6WwMnJBg        5  2012-02-25
53690  2y9EpQBu2rUavDnuIj_Uqg  1dN5TzPCQeYjVhqDlJR1uw        5  2011-01-30
53691  DqDL1UK7uXOELisBlTBaXA  5J2emiGyFTr4qWRJZToTuA        4  2011-10-26
53692  ZtRxaGRl4srx_ZDziD8zqg  exEElE4pG-ZwoCMwoYddeg        4  2011-08-08
53693  CdQVF04hcuzVC6K5RQJ4Bg  2OZeoBnFTS9UpYeT-lqqlA        5  2013-01-16
53694  C8b6Jt9AxwgJh0AbQ3vXXw  vqMx_lVudOHZZsPVWl898g        5  2010-02-20
53695  aXlotUBAIbrFeejH3TXaZw  5VIBWNPnPkXnuI-rkoAw0Q        4  2015-01-23
53696  6TSoUl-EwTTzgPV2wJqzMA  o2pZO42pH0_xXrcRYG31xw        4  2014-08-07
53697  -yTaKUDFSmez9KbShP2tzQ  htiVdsiY_rBmJc65aZ3YAA        5  2010-05-16
53698  ekSwVPD0bVtMhEUgeAfusQ  VAonxcB-NoEaUn5bcIb56g        2  2014-11-12
53699  68F86u_5mHVYs6CNlY3bhA  qjYXOBnladFYhciGBSgAMw        4  2014-02-16
53700  7Gd0_VtzeSN6Nms4Ee4TjA  0PoaphMccStZA3XnCmd1aQ        1  2012-03-22
53701  yaoTWCWWoSc2UxUJep_J0Q  qlC607Cyp0Mj91vDFvkp3Q        5  2010-08-13
53702  _KhErMOC3m2mIgWHz8ry3w  vKUlUXLVylwdttu7h1_Y5Q        5  2011-08-19
53703  ncTaAy7q8Zm1lt-rRs_kBw  Jm67TDhh8t1VHPACeORuOg        4  2010-10-21
53704  WzLizrfiCK8rm_CHqz5r8Q  ya3mbvTaymecfrTc08SxhQ        3  2009-02-18
53705  2N8fAC1z4NgJSO1XUoKgCw  udRqScWDSTXRq035iqUluA        5  2011-06-09
53706  cxOl4n1KtiIuXJ2iTezqbQ  HNvtQAbgSeLBSkmXz2AkSg        5  2013-03-21
53707  gGx5X5HZXXzmdjx9LN55EQ  VlcasgkqiTuPi-nVT7rEtw        5  2016-02-12
53708  vjAl9gYsVqvAIysDhBVdsg  mjzxxh0pXwzSTdgqMjd1ww        4  2012-01-18
53709  -a3SMWTQbGJHyvOl7lKbkQ  ZJ-IQSGTdvDJHcbZwLRqyA        4  2012-07-27
53710  Y7Aslz-SHA7e_Qk86gOyPw  uIu2oifqdP1VJe7bYLJ6ug        4  2010-03-17
53711  tJB6abSwplErpv6d8ao0Jg  yV99V4Pq1y8rNAtUodRavg        5  2010-07-08
53712  JKLxKclMkGENJQAXACql9w  MRjCvF346q0tcuD9_opLMw        4  2013-04-11
53713  MpAxhVtQPp8kIzNhKc2jpw  tXII4ynOqIfo0H0TvjGygg        5  2012-04-12
53714  WseG8KdVij0i5D-OXsoc-Q  q3iuwNd2ZRtAyhbva2OBbQ        4  2014-10-15

                                                    text  useful  funny  cool
53662  Location Location Location! Charlotte's great ...       2      0     1
53663  Classy little wine bar without the pretentious...       1      0     0
53664  Awesome food great service!! Kasey and Cameron...       0      0     0
53665  We stopped in here on a Saturday while walking...       0      0     0
53666  We live in the neighborhood and went in for di...       1      0     0