## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!
%ls

 Volume in drive C is OS
 Volume Serial Number is 9A45-0C78

 Directory of c:\Users\Jake\Documents\CapstoneTransplant\Capstone-Restaurant

04/15/2023  05:53 PM    <DIR>          .
04/11/2023  04:07 AM    <DIR>          ..
04/11/2023  04:17 AM             1,942 .gitignore
04/11/2023  07:01 AM    <DIR>          .ipynb_checkpoints
04/15/2023  08:03 PM        50,380,975 cleaned2.csv
04/15/2023  04:52 PM    <DIR>          Data
04/11/2023  06:57 AM            60,277 First.ipynb
04/11/2023  04:07 AM                23 README.md
04/15/2023  05:39 PM           160,783 Second.ipynb
04/15/2023  05:39 PM           134,906 Third - Copy.ipynb
04/15/2023  05:39 PM            53,907 Third.ipynb
               7 File(s)     50,792,813 bytes
               4 Dir(s)  86,440,136,704 bytes free

In [2]:
import sqlite3
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
import json
import argparse
import collections
import scipy
import csv
plt.style.use('seaborn-notebook')
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import euclidean
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords, wordnet
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.tokenize import RegexpTokenizer
from scipy.spatial.distance import cdist

In [35]:
pip install streamlit

Collecting streamlit
  Downloading streamlit-1.21.0-py2.py3-none-any.whl (9.7 MB)
     ---------------------------------------- 9.7/9.7 MB 28.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Collecting rich>=10.11.0
  Downloading rich-13.3.4-py3-none-any.whl (238 kB)
     ------------------------------------- 238.7/238.7 kB 15.2 MB/s eta 0:00:00
Collecting tzlocal>=1.1
  Downloading tzlocal-4.3-py3-none-any.whl (20 kB)
Collecting pympler>=0.9
  Downloading Pympler-1.0.1-py3-none-any.whl (164 kB)
     ---------------------------------------- 164.8/164.8 kB ? eta 0:00:00
Requirement already satisfied: pillow>=6.2.0 in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (9.2.0)
Requirement already satisfied: pandas<2,>=0.25 in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (1.4.4)
Requirement already satisfied: requests>=2.4 in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (2.28.1)
Collecting validators>=0.2
  Downloading validators-0.20.0.tar.gz (30 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (1.21.5)
Collecting protobuf<4,>=3.12
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------- 904.2/904.2 kB 55.9 MB/s eta 0:00:00
Collecting altair<5,>=3.2.0
  Downloading altair-4.2.2-py3-none-any.whl (813 kB)
     ------------------------------------- 813.6/813.6 kB 25.9 MB/s eta 0:00:00
Requirement already satisfied: watchdog in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: click>=7.0 in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (8.0.4)
Requirement already satisfied: typing-extensions>=3.10.0.0 in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (4.3.0)
Collecting cachetools>=4.0
  Downloading cachetools-5.3.0-py3-none-any.whl (9.3 kB)
Collecting gitpython!=3.1.19
  Downloading GitPython-3.1.31-py3-none-any.whl (184 kB)
     ---------------------------------------- 184.3/184.3 kB ? eta 0:00:00
Requirement already satisfied: packaging>=14.1 in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (21.3)
Requirement already satisfied: toml in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Collecting blinker>=1.0.0
  Downloading blinker-1.6.2-py3-none-any.whl (13 kB)
Collecting pydeck>=0.1.dev5
  Downloading pydeck-0.8.1b0-py2.py3-none-any.whl (4.8 MB)
     ---------------------------------------- 4.8/4.8 MB 43.5 MB/s eta 0:00:00
Requirement already satisfied: tornado>=6.0.3 in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (6.1)
Collecting pyarrow>=4.0
  Downloading pyarrow-11.0.0-cp39-cp39-win_amd64.whl (20.6 MB)
     --------------------------------------- 20.6/20.6 MB 32.8 MB/s eta 0:00:00
Requirement already satisfied: importlib-metadata>=1.4 in c:\users\jake\anaconda3\lib\site-packages (from streamlit) (4.11.3)
Requirement already satisfied: jsonschema>=3.0 in c:\users\jake\anaconda3\lib\site-packages (from altair<5,>=3.2.0->streamlit) (4.16.0)
Requirement already satisfied: toolz in c:\users\jake\anaconda3\lib\site-packages (from altair<5,>=3.2.0->streamlit) (0.11.2)
Requirement already satisfied: entrypoints in c:\users\jake\anaconda3\lib\site-packages (from altair<5,>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jinja2 in c:\users\jake\anaconda3\lib\site-packages (from altair<5,>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: colorama in c:\users\jake\anaconda3\lib\site-packages (from click>=7.0->streamlit) (0.4.5)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ---------------------------------------- 62.7/62.7 kB ? eta 0:00:00
Requirement already satisfied: zipp>=0.5 in c:\users\jake\anaconda3\lib\site-packages (from importlib-metadata>=1.4->streamlit) (3.8.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\jake\anaconda3\lib\site-packages (from packaging>=14.1->streamlit) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\jake\anaconda3\lib\site-packages (from pandas<2,>=0.25->streamlit) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\jake\anaconda3\lib\site-packages (from python-dateutil->streamlit) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jake\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jake\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jake\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\jake\anaconda3\lib\site-packages (from requests>=2.4->streamlit) (2.0.4)
Collecting markdown-it-py<3.0.0,>=2.2.0
  Downloading markdown_it_py-2.2.0-py3-none-any.whl (84 kB)
     ---------------------------------------- 84.5/84.5 kB ? eta 0:00:00
Collecting pygments<3.0.0,>=2.13.0
  Downloading Pygments-2.15.0-py3-none-any.whl (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 35.5 MB/s eta 0:00:00
Collecting pytz-deprecation-shim
  Downloading pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Collecting tzdata
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ------------------------------------- 341.8/341.8 kB 20.7 MB/s eta 0:00:00
Requirement already satisfied: decorator>=3.4.0 in c:\users\jake\anaconda3\lib\site-packages (from validators>=0.2->streamlit) (5.1.1)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jake\anaconda3\lib\site-packages (from jinja2->altair<5,>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\jake\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\jake\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<5,>=3.2.0->streamlit) (21.4.0)
Collecting mdurl~=0.1
  Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Building wheels for collected packages: validators
  Building wheel for validators (setup.py): started
  Building wheel for validators (setup.py): finished with status 'done'
  Created wheel for validators: filename=validators-0.20.0-py3-none-any.whl size=19579 sha256=2bd20c832f5f087250bb692a3613f8ec3e90cdb177094792598b91cc66b56653
  Stored in directory: c:\users\jake\appdata\local\pip\cache\wheels\2d\f0\a8\1094fca7a7e5d0d12ff56e0c64675d72aa5cc81a5fc200e849
Successfully built validators
Installing collected packages: validators, tzdata, smmap, pympler, pygments, pyarrow, protobuf, mdurl, cachetools, blinker, pytz-deprecation-shim, pydeck, markdown-it-py, gitdb, tzlocal, rich, gitpython, altair, streamlit
  Attempting uninstall: pygments
    Found existing installation: Pygments 2.11.2
    Uninstalling Pygments-2.11.2:
      Successfully uninstalled Pygments-2.11.2
Successfully installed altair-4.2.2 blinker-1.6.2 cachetools-5.3.0 gitdb-4.0.10 gitpython-3.1.31 markdown-it-py-2.2.0 mdurl-0.1.2 protobuf-3.20.3 pyarrow-11.0.0 pydeck-0.8.1b0 pygments-2.15.0 pympler-1.0.1 pytz-deprecation-shim-0.1.0.post0 rich-13.3.4 smmap-5.0.0 streamlit-1.21.0 tzdata-2023.3 tzlocal-4.3 validators-0.20.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.2.2 requires pyqt5<5.13, which is not installed.
spyder 5.2.2 requires pyqtwebengine<5.13, which is not installed.

In [37]:
df = pd.read_csv('Data/cleaned.csv')
df = pd.DataFrame(df)

In [38]:
df = pd.DataFrame(df)

In [39]:
one_hot = df['categories'].str.get_dummies(sep=' ')

df = pd.concat([df, one_hot], axis=1)

df.drop('categories', axis=1, inplace=True)

df

,Unnamed: 0,name,state,stars_y,review_count,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,...,wine,winery,wing,women's,wrap,yelp,yoga,yogurt,ziplining,zoo
0,1,"""Primal Brewery""",NC,4.0,47,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
1,7,"""MV Nail Spa""",OH,3.0,3,2,2,0,2,2,...,0,0,0,0,0,0,0,0,0,0
2,8,"""Bath & Body Works""",NC,4.0,4,2,2,0,2,2,...,0,0,0,0,0,0,0,0,0,0
3,12,"""Happy Moose Bar and Grill""",OH,3.5,72,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
4,13,"""Hungry Howie's Pizza""",NC,3.0,12,2,2,2,2,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22380,152014,"""Dairy King""",OH,3.5,12,2,2,2,2,2,...,0,0,0,0,0,0,0,1,0,0
22381,152015,"""Mike The Plumber""",NC,3.0,8,2,2,2,1,2,...,0,0,0,0,0,0,0,0,0,0
22382,152022,"""Wendy's""",OH,1.5,3,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
22383,152030,"""Serenity Hair Spa by Lauren""",NC,5.0,4,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
22384,152031,"""Gianni's Trattoria""",NC,4.0,88,2,2,2,2,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
numeric_cols = df.select_dtypes(include=['int', 'float']).columns

In [7]:
name_col= df[['name']]
state_col= df[['state']]

In [8]:
df_numeric = pd.concat([name_col, state_col, df[numeric_cols]], axis=1)

In [9]:
df = df_numeric

In [10]:
df['name'] = df['name'].str.replace(r'"', '')

In [11]:
df

,name,state,Unnamed: 0,stars,review_count,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,...,wing,women's,wrap,yelp,yoga,yogurt,your,yourself,ziplining,zoo
0,Brick House Tavern + Tap,OH,3,3.5,116,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
1,Showmars Government Center,NC,13,3.5,7,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2,Panera Bread,OH,26,2.0,4,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
3,Brewster's Pub,OH,33,4.0,4,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
4,Yuzu,OH,37,3.5,78,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22380,Asian Health Center,OH,151991,5.0,3,2,2,1,2,2,...,0,0,0,0,0,0,0,0,0,0
22381,Carlone's Candy and Ice Cream,OH,151997,4.0,3,2,2,2,2,2,...,0,0,0,0,0,1,0,0,0,0
22382,Cole's Public House,OH,152012,4.5,21,2,2,2,2,0,...,0,0,0,0,0,0,0,0,0,0
22383,CVS,NC,152030,2.0,5,2,2,2,2,0,...,0,0,0,0,0,0,0,0,0,0
22384,Village Auto Body,OH,152037,5.0,3,2,2,2,1,2,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df = df.drop(df.columns[2], axis=1)

df.to_csv('cleaned2.csv', index=False)

In [13]:
df1 = df[df['state'] == 'NC']
df2 = df[df['state'] != 'NC']

In [14]:
df1
df2

,name,state,stars,review_count,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,...,wing,women's,wrap,yelp,yoga,yogurt,your,yourself,ziplining,zoo
0,Brick House Tavern + Tap,OH,3.5,116,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2,Panera Bread,OH,2.0,4,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
3,Brewster's Pub,OH,4.0,4,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
4,Yuzu,OH,3.5,78,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
7,Falls Auto Body,OH,5.0,3,2,2,2,1,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22376,Hamptons Luxury Apartments,OH,2.0,12,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
22380,Asian Health Center,OH,5.0,3,2,2,1,2,2,2,...,0,0,0,0,0,0,0,0,0,0
22381,Carlone's Candy and Ice Cream,OH,4.0,3,2,2,2,2,2,2,...,0,0,0,0,0,1,0,0,0,0
22382,Cole's Public House,OH,4.5,21,2,2,2,2,0,1,...,0,0,0,0,0,0,0,0,0,0
22384,Village Auto Body,OH,5.0,3,2,2,2,1,2,2,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df1 = df1.drop('state', axis=1)
df2 = df2.drop('state', axis=1)

In [16]:
df1

,name,stars,review_count,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,...,wing,women's,wrap,yelp,yoga,yogurt,your,yourself,ziplining,zoo
1,Showmars Government Center,3.5,7,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
5,TCBY,3.5,3,2,2,2,2,2,2,2,...,0,0,0,0,0,1,0,0,0,0
6,My Fitness World,5.0,4,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
8,KS Audio Video,5.0,5,2,2,2,1,2,2,2,...,0,0,0,0,0,0,0,0,0,0
10,Fairfield Inn & Suites,4.0,17,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22375,Goat Wagon Grocery,2.5,6,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
22377,Popbar,4.5,108,2,2,2,2,2,2,2,...,0,0,0,0,0,1,0,0,0,0
22378,Zoewee's,4.0,15,2,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22379,Boston Market,3.5,17,2,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22383,CVS,2.0,5,2,2,2,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df2

,name,stars,review_count,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,...,wing,women's,wrap,yelp,yoga,yogurt,your,yourself,ziplining,zoo
0,Brick House Tavern + Tap,3.5,116,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2,Panera Bread,2.0,4,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
3,Brewster's Pub,4.0,4,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
4,Yuzu,3.5,78,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
7,Falls Auto Body,5.0,3,2,2,2,1,2,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22376,Hamptons Luxury Apartments,2.0,12,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
22380,Asian Health Center,5.0,3,2,2,1,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
22381,Carlone's Candy and Ice Cream,4.0,3,2,2,2,2,2,2,2,...,0,0,0,0,0,1,0,0,0,0
22382,Cole's Public House,4.5,21,2,2,2,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
22384,Village Auto Body,5.0,3,2,2,2,1,2,2,2,...,0,0,0,0,0,0,0,0,0,0

In [18]:
NC = df1
OH = df2

In [19]:
OH

,name,stars,review_count,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,...,wing,women's,wrap,yelp,yoga,yogurt,your,yourself,ziplining,zoo
0,Brick House Tavern + Tap,3.5,116,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
2,Panera Bread,2.0,4,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
3,Brewster's Pub,4.0,4,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
4,Yuzu,3.5,78,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
7,Falls Auto Body,5.0,3,2,2,2,1,2,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22376,Hamptons Luxury Apartments,2.0,12,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
22380,Asian Health Center,5.0,3,2,2,1,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
22381,Carlone's Candy and Ice Cream,4.0,3,2,2,2,2,2,2,2,...,0,0,0,0,0,1,0,0,0,0
22382,Cole's Public House,4.5,21,2,2,2,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
22384,Village Auto Body,5.0,3,2,2,2,1,2,2,2,...,0,0,0,0,0,0,0,0,0,0

In [20]:
#NC.to_csv('NC.csv', index=False)

In [21]:
#OH.to_csv('OH.csv', index=False)

In [22]:
#NC = NC.reset_index(drop=True)
#OH = OH.reset_index(drop=True)
NC = NC.set_index('name', inplace=True)

In [23]:
OH = OH.set_index('name', inplace=True)

In [24]:
#NC = df1
#OH = df2

In [30]:
NC = NC.drop('review_count', axis=1)
OH = OH.drop('review_count', axis=1)

In [31]:
#df1 = df2.set_index('name')
#df2 = df2.set_index('name')

def find_similar_row(NC, OH, row_index):
    # Get the specified row from the first dataframe
    row = NC.iloc[row_index]

    # Compute the Euclidean distance between the specified row and all rows in the second dataframe
    distances = np.linalg.norm(OH - row, axis=1)

    # Find the row index in the second dataframe with the smallest distance to the specified row
    min_distance_index = np.argmin(distances)

    # Return the row in the second dataframe with the smallest distance to the specified row
    return OH.iloc[min_distance_index]

In [32]:
def find_similar_rows(NC, OH, row_index):
    # Get the specified row from the first dataframe
    row = NC.iloc[row_index]

    # Compute the Euclidean distance between the specified row and all rows in the second dataframe
    distances = np.linalg.norm(OH - row, axis=1)

    # Find the indices of the 5 smallest distances
    min_distance_indices = np.argsort(distances)[:10]

    # Return the top 5 rows in the second dataframe with the smallest distance to the specified row
    return OH.iloc[min_distance_indices]

In [33]:
similar_row = find_similar_rows(NC, OH, 108)
similar_row

,stars,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,HairSpecializesIn_coloring,...,wing,women's,wrap,yelp,yoga,yogurt,your,yourself,ziplining,zoo
name,,,,,,,,,,,,,,,,,,,,,
Cantine,4.0,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
Wine Brew and More,4.5,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
Camino,3.5,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
The Side Quest,4.0,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
The Bier Haus,4.0,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
101 Bottles of Beer On the Wall,4.5,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
The Wine Room,4.5,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
Regency Wine Sellers & Wine Bar,4.5,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
Royal Park Fine Wine,4.0,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
La Cave du Vin,4.0,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
NC.iloc[108]

stars                          4.0
review_count                  53.0
AcceptsInsurance               2.0
ByAppointmentOnly              2.0
BusinessAcceptsCreditCards     2.0
                              ...
yogurt                         0.0
your                           0.0
yourself                       0.0
ziplining                      0.0
zoo                            0.0
Name: Dolce Vita Wine Bar, Length: 1112, dtype: float64

Hey there we go